extends ../layout

block content
  h3 Newsletter
  .newsletter-form
    p Subscribe to our newsletter to receive updates about new exercises.
    form(action='/exercise1', method='POST')
      label(for='email-address') Email
      input(type='email', name='email', id='email-address')
      input(type='submit', value='Subscribe')
