extends layout

block content
  h2 Exercises
  ul
    li
      a(href='/exercise1') Exercise 1
    li
      a(href='/exercise2') Exercise 2
    li
      a(href='/exercise3') Exercise 3
    li
      a(href='/exercise4') Exercise 4
